/* app css stylesheet */

html,body {
  text-align: center;
	background-color: #f7f7f7;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background-color: #f7f7f7;
}
.nav-tabs {
	background-color: rgba(255,255,255, 0.9);
	margin-top: -41px;
}
/* COVER */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  height: 500px;
  display: table-cell;
  vertical-align: middle;
  background-image: url("static/img/sfondo-coworking.jpg");
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.site-wrapper-inner:before {
	top: 0px;
	left: 0px;
  content: "";
  position: absolute;
  width: 100%; 
  height: 500px;
  opacity: .25; 
  background-color:black;
}  
@media (max-width: 768px) {
	.site-wrapper-inner {
		height: 200px;
		background-attachment: scroll;
	}
	.site-wrapper-inner:before {
		height: 200px;
	}  
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
	width: 100%;
}
.cover {
	position: relative;
  z-index: 1;
  padding: 0 20px;
}

.cover-heading {
	color: white;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.lead, .lead > a {
	color: white;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
	box-shadow: 0px 1px 2px rgba(24, 24, 24, 0.1);
	border: 1px solid #ccc;
}

/* MENU */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.resources .sprints .stories {
  list-style: none;
}

.resources .sprints .stories li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

.circle {
	background-color: #fff;
  border-radius: 50%;
	width: 10em;
	height: 10em;
	overflow: hidden;
	margin: 0 auto;
	box-shadow: 0px 1px 2px rgba(24, 24, 24, 0.1);
	border: 1px solid #ccc;
	margin-top:10px;
}
.circle img {
	height: inherit;
	width: inherit;
}

/* SPRINT */

.sprint-box {
    display: block;
    border: solid;
    border-color: lightblue;
    border-width: thin;
    margin: 0.4em;
    background-color: white;
}

.sprint-box-dates div {
  float: left;
  clear: none;
}

.sprint-box-id div {
  border: solid;
  border-width: thin;
}

.sprint-main-box {
    display: block;
    border: double;
    border-color: lightblue;
    border-width: initial;
    padding: 0.3em;
    background-color: white;
}

/* STORY */

.story-box-info div {
  float: left;
  clear: none;
}

.story-box {
    display: block;
    border: solid;
    border-color: lightblue;
    border-width: thin;
    max-width: 30%;
    margin-bottom: 4em;
    margin-left: 0.5em;
    background-color: white;
}

.container-story {
    padding-left: 5.5em;
}

/* RESOURCES */

.resources-box {
    display: block;
    border: solid;
    border-color: lightblue;
    border-width: 0.1em;
    margin-top: 0.8em;
    padding: 0.3em;
    background-color: white;
}

.social {
  width: 2em;
}

/* TEAM */
.our-team {
  text-align: center;
}

/* Just for mario and luigi pics */
.img-circle {
  max-height: 7em;
}

.l_d {
  margin-top: 40px;
  margin-left: 40px;
}
