<div ng-controller="SprintCtrl">
	<div class="container">
        <div class="page-header">
            <h1 class="text-center">Our Sprints</h1>
        </div>
		<br/>
		<br/>
		<div>
			Search: <input ng-model="query">
		</div>
		<br/>
		<br/>
		<br/>

	
		<div class="row">
			<div class="col-sm-12">
					<a href="#/sprint/{{sprint.id}}" ng-repeat="sprint in sprints | filter:query">
					<div class="card col-sm-3">
					
						{{sprint.id}}
						<div>
							<h4>{{sprint.goal}}</h4>
						</div>
						<div class="row card-elements">
							<div class="col-sm-8 col-sm-offset-2" style="background-color: white; color: black;">
								<strong>MD: </strong>{{sprint.estimation}}
							</div>
							<br/>
							<br/>
							<div class="col-sm-8 col-sm-offset-2" style="background-color: white; color: black;">
								<strong>Start: </strong>{{sprint.start}}
							</div>
							<br/>
							<br/>
							<div class="col-sm-8 col-sm-offset-2" style="background-color: white; color: black;">
								<strong>End: </strong>{{sprint.end}}
							</div>
							<br/>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
